In [1]:
import pandas as pd
import numpy as np

1. Lea y cargue el dataset Social_Network_Ads.csv

In [4]:
df = pd.read_csv("Social_Network_Ads.csv")
df.tail/(())

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

2. ¿Cuánta memoria ocupa este dataset?

3. Calcule las estadísticas descriptivas básicas de todas las variables nuéricas

4. ¿Cuál es la dimensión del dataset?

5. ¿Tiene el dataset datos nulos?

6. Diga la cantidad de personas que compraron y no compraron en la campaña

7. Calcule el promedio del salario de las personas que tengan entre 18 y 28 años

8. ¿Qué edad tiene la persona que más gana?

9. ¿Qué edad tiene la persona que menos gana?

10. Cambie el nombre de la columna 'EstimatedSalary' a 'Salary'

11. Ordene los datos de mayor a menor según la columna Salary. Pista: Usar el método sort_values de la librería pandas

12. Borre del dataframe las personas que tienen 18 años